#inicio {
  margin-left: 88%;
  background-color: rgb(236, 143, 21);
}
h1 {
  margin-left: 40%;
}
#name {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20%;
  margin-right: 70%;
}
#first-container {
  background-color: #e6ba95;
  opacity: 75%;
  border: none;
  border-radius: 20px;
}
#por {
  background-color: beige;
  margin-left: 50%;
  margin-right: 40%;
  margin-top: -25%;
  font-family: Arial, Helvetica, sans-serif;
}
#surge {
  margin-left: 55%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  margin-left: 19%;
}
.container > .crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
